**/weights/
.venv/
Surveillance-Camera-Vehicle-Detection/Training/kaggle/working/runs/Top-View-Camera-Vehicle-Detection_v1/weights/
Surveillance-Camera-Vehicle-Detection/Training/kaggle/working/state.db
*.db
.idea/